@import "bootstrap-sprockets";
@import "bootstrap";

.well.description {
  h1 { font-size: 26px; }
  h2 { font-size: 22px; }
  h3 { font-size: 18px; }
}

h3 {
  .label {
    font-size: 12px;
    margin-bottom: 1px;
    vertical-align: middle;
  }
}

.markdown-container {
  img {
    max-width: 100%;
  }
}

// override jsondiffpatch background color for the import of new scenarios
pre:not([data-requires-merge]) {
  .jsondiffpatch-added .jsondiffpatch-property-name,
    .jsondiffpatch-added .jsondiffpatch-value pre,
    .jsondiffpatch-modified .jsondiffpatch-right-value pre,
    .jsondiffpatch-textdiff-added {
    background: none;
  }
}

.jsondiffpatch-delta {
  pre {
    border: none;
  }
}
